<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/post.css">
<link rel="stylesheet" href="/stylesheets/comment.css">
<link rel="stylesheet" href="/stylesheets/head.css">

<% var formatTime = function(jsDate, option) {
    var dd = jsDate.getDate();
    var mm = jsDate.getMonth() + 1; // january is 0
    var yyyy = jsDate.getFullYear();
    if (dd < 10) {
        dd = '0' + dd;
    }
    if (option == "short") {
        if (mm < 10) {
            mm = '0' + mm;
        }
        var formatDate = yyyy + '.' + mm + '.' + dd;
    }
    else if (option == "long") {
        switch (mm) {
            case 1: mm = "January"; break;
            case 2: mm = "February"; break;
            case 3: mm = "March"; break;
            case 4: mm = "April"; break;
            case 5: mm = "May"; break;
            case 6: mm = "June"; break;
            case 7: mm = "July"; break;
            case 8: mm = "August"; break;
            case 9: mm = "September"; break;
            case 10: mm = "October"; break;
            case 11: mm = "November"; break;
            case 12: mm = "December"; break;
        }
        var formatDate = mm + " " + dd + ", " + yyyy
    }
    return formatDate;
} %>

<% include ./partials/siteHead.ejs %>
<% include ./partials/colheader.ejs %>
<div class="post">
    <p class="postTitle"><%= post.title %></p>
    <p class="postDate"><%= formatTime(post.createdAt, "long") %></p>
    <div class="postContent"><%- post.content %></div>
</div>
<div id="commentDivTitle">Comments<span id="commentNum"> (<%= post.comments.length %>)</span></div>
<div class="newComment">
    <form>
    <div class="form-group">
        <textarea class="form-control" rows="4" placeholder="Enter comment" id="contentInput"></textarea> <!--name="newComment"> -->
    </div>
    <div id="submitArea">
        <div id="submitRow">
            <div id="nicknameInputDiv">
                <label for="nicknameInput">Nickname</label>
                <span class="commentFormInput"><input class="form-control inputBox" type="text" id="nicknameInput"></span>
            </div>
            <div id="passwordInputDiv">
                <label for="passwordInput">Password</label>
                <span class="commentFormInput"><input class="form-control inputBox" type="password" id="passwordInput"></span>
            </div>
        </div>
        <div id="commentSubmit">
        <input type="submit" id="commentSubmitBtn" value="Post">
        </div>
    </div>
    </form>
</div>
<div id="commentList">
    <% post.comments.forEach(function(comment){ %>
        <div class="commentDiv" id="div_<%= comment._id %>">
            <div class="container-fluid commentDisplay">
                <div class="commentInfo">
                    <span class="commentNickname"><%= comment.nickName %></span>
                    <span class="commentTime"><%= formatTime(comment.createdAt, "short") %></span>
                </div>
                <div class="commentRoutes">
                    <span class="commentTimeBelow"><%= formatTime(comment.createdAt, "short") %></span>
                    <div class="commentEditRoute"><span class="editRoute" id="edit_<%= comment._id %>" onclick="editComment('<%= comment._id %>')">Edit</span></div>
                    <div class="commentDeleteRoute"><span class="deleteRoute" id="delete_<%= comment._id %>" onclick="deleteComment('<%= comment._id %>')">Delete</span></div>
                </div>
            </div>
            <div class="commentContent" id="display_<%= comment._id %>"><%= comment.content %></div>
            <textarea class="form-control commentEditInput" id="change_<%= comment._id %>" style="display:none;"><%= comment.content %></textarea>
            <div class="commentAuth">
                <div class="passwordAuth" id="authPasswordGroup_<%= comment._id %>" style="display:none;">
                    <label for="authPassword_<%= comment._id %>">Password</label>
                    <span class="commentPasswordInput"><input class="form-control authPasswordForm" type="password" id="passwordInput_<%= comment._id %>"></span>
                </div>
                <div class="authGroup">
                <!--<div class="passwordQ" id="pwQ_<%= comment._id %>" style="display:none;">You Sure?</span></div>-->
                <div class="deleteAuth" id="deleteAuth_<%= comment._id %>" style="display:none;">
                    <button class="deleteBtn" type="submit" onclick="deleteAuth('<%= comment._id %>')">CONFIRM</button>
                </div>
                <div class="editAuth" id="editAuth_<%= comment._id %>" style="display:none;">
                    <button class="editBtn" type="submit" onclick="editAuth('<%= comment._id %>')">UPDATE</button>
                </div>
                <div class="cancelAuth">
                    <button class="cancelBtn" id="cancelChange_<%= comment._id %>" onclick="cancelAction('<%= comment._id %>')" style="display:none;">CANCEL</button>
                </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>
<% include ./partials/colfooter.ejs %>

<script type="text/javascript">
    var postId = "<%= post._id %>";
</script>
<script type="text/javascript" src="/scripts/postpage.js"></script>
<% include ./partials/footer.ejs %>